.cmp-button {
    background-color: #ffea00;
    text-transform: uppercase;
    color: #202020;
    font-size: 14px;
    font-weight: 600;
    min-width: 3pc;
    padding: 1rem 2rem;
    float: left;
}