.cmp-download {
    line-height: 1;
}

.cmp-download .cmp-download__property-label {
    display: none;
}

.cmp-download .cmp-download__title {
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: .5em;
    margin-bottom: 0;
    font-weight: 600;
}
h1 a, h2 a, h3 a {
    color: #202020;
}
 
.cmp-download .cmp-download__description {
    font-weight: 600;
    font-size: 1pc;
}

.cmp-download .cmp-download__properties {
    float: left;
    width: 100%;
    margin-top: .25em;
}

.cmp-download .cmp-download__property {
    text-transform: uppercase;
    font-size: 9pt;
    color: #696969;
    float: left;
}

.cmp-download .cmp-download__property-content {
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    margin-right: 1em;
}

.cmp-download .cmp-download__action {
    background-color: #202020;
    color: #fff;
    float: left;
    height: 3pc;
}

.cmp-download .cmp-download__action-text {
    padding-top: 1pc;
    padding-left: 2.25em;
    padding-right: 2.5em;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.cmp-download__description p {
    font-weight: 600;
    font-size: 1pc;
    text-transform: uppercase;
    margin: 0;
}

.aem-GridColumn.aem-GridColumn--default--3 {
    float: left;
    clear: none;
    width: 100%;
    box-sizing: border-box;
}
.aem-GridColumn {
    padding: 0 14px;
}

.cmp-download .cmp-download__action-text:before {
    
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    padding-right: .5em;
    margin-top: -.1em;
    font-size: 1.1rem;
    float: left;
}