/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ~ Copyright 2020 Adobe Systems Incorporated
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@import '../../styles/variables';

// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: $line-height-base;
    color      : $text-color;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family  : $font-family-serif;
    font-weight  : $font-weight-normal;
    margin-top   : $line-height-computed;
    margin-bottom: ($line-height-computed / 2);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family   : $font-family-sans-serif;
    text-transform: uppercase;
    font-weight   : $font-weight-bold;
}

h1,
.h1 {
    font-size: $font-size-h1;
}

h2,
.h2 {
    font-size: $font-size-h2;
}

h3,
.h3 {
    font-size: $font-size-h3;
}

h4,
.h4 {
    font-size: $font-size-h4;
}

h5,
.h5 {
    font-size: $font-size-h5;
}

h6,
.h6 {
    font-size: $font-size-h6;
}

a {
    color          : $link-color;
    text-decoration: none;
}

h1 a,
h2 a,
h3 a {
    color: $text-color;
}

h1 u,
h2 u,
h3 u {
    text-decoration: none;
    border-bottom  : 1px #ededed solid;
}

// Body text
// -------------------------

p {
    margin     : 0 0 ($line-height-computed / 2);
    font-size  : $font-size-base;
    line-height: $line-height-base + 1;
    text-align : justify;
}


ul {
    list-style-position: inside;
}

// abstracts/overrides

ol,
ul {
    padding-left : 0;
    margin-bottom: 0;
}

hr {
    height          : 2px;
    background-color: lightgrey;
    border          : 0 none;
    margin          : 0 auto;
    max-width       : $max-width;
}