.cmp-image-list {
    -webkit-box-align   : start;
    // -ms-flex-align   : start;
    align-items         : flex-start;
    // display          : -webkit-box;
    // display          : -ms-flexbox;
    display             : flex;
    // -ms-flex-wrap    : wrap;
    flex-wrap           : wrap;
    // -webkit-box-pack : normal;
    // -ms-flex-pack    : normal;
    justify-content     : normal;
    list-style          : none;
    margin              : 0;
    padding             : 0;
    width               : 100%;
    text-align          : center;

    .cmp-image-list__item {
        flex-basis: 260px;
        flex      : auto;
    }
}

.cmp-image-list__item-title {
    color         : #202020;
    font-size     : 18px;
    font-family   : Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight   : 600;
    text-transform: uppercase;
}

.cmp-image-list__item-description {
    color: #696969;

    display       : block;
    font-size     : 14px;
    margin-top    : 1rem;
    overflow      : hidden;
    text-overflow : ellipsis;
    text-transform: uppercase;
    white-space   : nowrap;
    width         : 260px;
    margin        : 30px auto;
}