.w-80 {
    width: 80%
}

.ml-8 {
    margin-left: 8%;
}

.cmp-teaser {
    display              : flex;
    -webkit-box-align    : center;
    -ms-flex-align       : center;
    align-items          : center;
    -webkit-box-pack     : center;
    -ms-flex-pack        : center;
    justify-content      : center;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
}

.cmp-teaser__image {
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
    width           : 100%;
    height          : 25pc;
    max-height      : 25pc;
    overflow        : hidden;
}

.cmp-teaser__image .cmp-image {
    width : 100%;
    height: 100%;
}

.cmp-image__image {
    margin-top        : 0;
    margin-bottom     : 0;
    -o-object-fit     : cover;
    object-fit        : cover;
    -o-object-position: center;
    object-position   : center;
    width             : 100%;
    height            : 100%;
}



@media (min-width: 1165px) {
    .cmp-teaser__content {
        background-color: #fff !important;
        margin-top      : -180px;
        height          : 180px;
        min-height      : 180px;
        float           : left;
        padding-bottom  : 0;
        position        : relative;
        padding-left    : 28px;
        padding-right   : 28px;

    }
}

.cmp-teaser__content {
    flex: 1;
}

.cmp-teaser__title-link {
    font-size      : 36px;
    color          : #202020;
    text-decoration: none;

}

.cmp-teaser__title-link:hover {
    text-decoration: none;
    color          : #202020;
}

.cmp-teaser__title {
    font-family: Asar, Georgia, Times New Roman, Times, serif;
    margin     : .5em 0;
}

.cmp-teaser__description {
    font-size  : 14px;
    margin     : 0;
    line-height: 1.75;
}

.cmp-teaser--hero .cmp-teaser__description,
.cmp-teaser--hero .cmp-teaser__description p,
.cmp-teaser--hero .cmp-teaser__title {
    margin-bottom: 0;
}

.cmp-teaser__action-link {
    background-color: #ffea00;
    text-transform  : uppercase;
    font-size       : 14px;
    padding         : 1em 2.5em;
    font-weight     : 600;
    color           : #202020;
    float           : left;
    text-decoration : none;
}

.cmp-teaser__action-container {
    margin: 1em 0;
    float : left;
}